:root {
  /* --background: hsl(240, 5%, 10%);
  --backgroundLight: hsl(240, 12%, 15%);
  --backgroundDark: hsl(240, 8%, 7%); */

  --background: #3255d1;
  --backgroundLight: #4a6de5;
  --backgroundDark: #0930a7;

  /* --foreground: hsl(240, 15%, 93%);
  --foregroundLight: hsl(240, 15%, 99%);
  --foregroundDark: hsl(240, 15%, 84%);
  --foregroundExtraDark: hsl(240, 7%, 40%); */
  --foreground: #d8e0f8;
  --foregroundLight: #ecf1ff;
  --foregroundDark: #9caddf;
}

body {
  margin: 0;

  background: var(--background);
  background-image: linear-gradient(
    to bottom right,
    var(--background),
    var(--backgroundDark)
  );
  color: var(--foreground);

  min-height: 100dvh;
  overflow: hidden;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
}

.flexGridRow {
  display: flex;
  width: 100%;
  height: 100dvh;

  flex-grow: 1;
  flex-direction: row;
}

.left {
  background: var(--background);

  flex-grow: 0;
  border-right: var(--foregroundDark) dashed 1px;

  writing-mode: vertical-lr;
  text-orientation: mixed;

  display: flex;
  flex-direction: row;

  justify-content: space-between;
  /* box-shadow: 0 0 0.4rem 0.1rem rgba(0, 0, 0, 0.5); */

  max-height: 100dvh;
}

.quinncooperstein {
  height: calc(100dvh - 1rem);
  padding: 0.25rem;
  padding-top: 0.75rem;

  font-size: 4rem;
  font-weight: bold;
}

.right {
  flex-grow: 1;

  padding: 1rem;

  overflow: scroll;
}

.socialsContainer {
  position: relative;
}

.socials {
  display: flex;
  flex-direction: row;
  writing-mode: horizontal-tb;
  text-orientation: upright;

  justify-content: space-evenly;
  align-items: flex-end;
  flex-wrap: wrap;

  padding-bottom: 0.4rem;

  flex-grow: 1;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  background: var(--background);
  padding-top: 1rem;

  --mask: linear-gradient(
      to top,
      rgba(0, 0, 0, 1) 0,
      rgba(0, 0, 0, 1) 75%,
      rgba(0, 0, 0, 0) 95%,
      rgba(0, 0, 0, 0) 0
    )
    100% 50% / 100% 100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.socials > a {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.4rem;
  background: var(--backgroundLight);
}

.socials > a > img {
  color: var(--foreground);
}

.imageDiv {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;

  max-width: 50rem;

  color: var(--foregroundLight);
  border: var(--foregroundDark) dashed 1px;
}

.imageDiv > span {
  padding: 0.5rem;
}

.imageDiv > img {
  width: 100%;
  height: auto;
}

.imageTitle {
  font-size: 1.5rem;
  font-weight: 700;
}

.a {
  color: var(--foregroundLight);
  text-decoration: underline;
}

.notFound {
  display: grid;
  place-items: center;
  min-height: 100dvh;
}

.notFoundRow {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 0.4rem;
}

.notFoundRow > h2 {
  line-height: 2.5rem;
}
